.*.swp
*.tar.gz
*~
src/*.gcno
src/*.gcda
src/*.gcov
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
contrib/fping.spec
!contrib/fping.spec.in
depcomp
install-sh
missing
src/*.o
src/.dirstamp
fping
fping6
stamp-h1
man/fping.8
man/fping6.8
!man/fping.pod
build/
ci/build
t/*.trs
t/*.log
test-suite.log
